/problema1/problema001/nbproject/private/
/problema1/problema001/build/
/problema2/problema02/nbproject/private/
/problema2/problema02/build/
/problema3/JavaApplication2/nbproject/private/
/problema3/JavaApplication2/build/
/problema4/problema04/nbproject/private/
/problema4/problema04/build/
